body {
  font-family: Arial, sans-serif;
  background-color: #f3f1f1;
  color: #201f1f;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: rgb(23, 22, 22);
  color: white;
  text-align: center;
  padding: 15px;
}

nav a {
  margin: 0 10px;
  color: #f8f3f3;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.button {
  background-color: #f2f0eb;
  color: #bec2c3;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}


.hero {
  text-align: center;
  background-color: white;
  padding: 30px 0;
}

.hero img {
  max-width: 50%;
  border-radius: 8px;
}


.featured-products .product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: rgb(249, 244, 244);
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 5px white;
}

.product-card img {
  width: 100%;
  border-radius: 6px;
}


.why-choose-us .features {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-item {
  text-align: center;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(4, 4, 4, 0.1);
}

.feature-item img {
  width: 60px;
  margin-bottom: 10px;
}


.testimonials .testimonial {
  background-color: rgb(229, 223, 223);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px rgba(224, 215, 215, 0.1);
}

.testimonials img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}